@import "tailwindcss";

body {
  font-family: 'Raleway', sans-serif;
}

.font-bold {
  font-family: 'Raleway', sans-serif;
  font-weight: 700 !important;
}

.font-semibold {
  font-family: 'Raleway', sans-serif;
  font-weight: 600 !important;
}

.font-medium {
  font-family: 'Raleway', sans-serif;
  font-weight: 500 !important;
}

@keyframes fadeInSlow {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInSlow {
  animation: fadeInSlow 0.8s ease-out both;
}

@keyframes parallax {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.animate-parallax {
  animation: parallax 20s linear infinite;
}

@keyframes bounceSlow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-bounce-slow {
  animation: bounceSlow 4s ease-in-out infinite;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.animate-wave {
  animation: wave 10s ease-in-out infinite;
}

@keyframes teamCard {
  0% {
    opacity: 0;
    transform: translateY(15px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-teamCard {
  animation: teamCard 0.5s ease-out forwards;
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.font-light {
  font-family: 'Raleway', sans-serif;
  font-weight: 300 !important;
}


.custom-marker-container {
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  
  .custom-div-icon {
    background: none;
    border: none;
  }
  
  .custom-tooltip-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    transform: translate(-50%);
    bottom: 10px;
    width: max-content;
    z-index: 500;
  }
  
  .custom-tooltip-content {
    background-color: white;
    border-radius: 28px; 
    padding: 6px 14px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    min-width: 120px;
    max-width: 180px; 
    margin-bottom: 5px;
    position: relative;
  }
  
  .app-icon {
    margin-right: 8px; 
    display: flex;
    align-items: center;
  }
  
  .app-icon img {
    width: 18px !important;
    height: 22px !important; 
  }
  
  .place-name {
    font-size: 14px; 
    font-family: 'Raleway';
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    color: #3C91E6;
    text-overflow: ellipsis;
  }
  
  .tooltip-pointer {
    width: 12px;
    height: 12px; 
    background-color: #2196F3;
    border-radius: 50%;
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%, -6px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  .custom-tooltip-content::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 1.5px;
    height: 10px; 
    background-color: #2196F3;
  }
