@import "tailwindcss";

body {
  font-family: 'Raleway', sans-serif;
}

.font-bold {
  font-family: 'Raleway', sans-serif;
  font-weight: 700 !important;
}

.font-semibold {
  font-family: 'Raleway', sans-serif;
  font-weight: 600 !important;
}

.font-medium {
  font-family: 'Raleway', sans-serif;
  font-weight: 500 !important;
}

@keyframes fadeInSlow {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInSlow {
  animation: fadeInSlow 0.8s ease-out both;
}

@keyframes parallax {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.animate-parallax {
  animation: parallax 20s linear infinite;
}

@keyframes bounceSlow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-bounce-slow {
  animation: bounceSlow 4s ease-in-out infinite;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.animate-wave {
  animation: wave 10s ease-in-out infinite;
}

@keyframes teamCard {
  0% {
    opacity: 0;
    transform: translateY(15px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-teamCard {
  animation: teamCard 0.5s ease-out forwards;
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.font-light {
  font-family: 'Raleway', sans-serif;
  font-weight: 300 !important;
}
